{
  "extends": [
    "lob/browser",
    "plugin:vue/vue3-recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "URLSearchParams": false
  },
  "parser": "vue-eslint-parser",
  "ignorePatterns": [
    "!/.storybook",
    "!/storybook-static"
  ],
  "rules": {
    "lob/align-equals": 0,
    "no-extra-parens": 0,
    "no-lonely-if": 0,
    "no-redeclare": 0,
    "no-shadow": 0,
    "no-var": 0,
    "prefer-arrow-callback": 0,
    "prefer-reflect": 0,
    "prefer-template": 0,
    "vue/comma-dangle": 2
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "root": true,
  "env": {
    "node": true
  }
}