{
  "extends": [
    "lob/browser",
    "plugin:vue/vue3-essential",
    "plugin:jest/recommended"
  ],
  "globals": {
    "URLSearchParams": false
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "lob/align-equals": 0,
    "no-extra-parens": 0,
    "no-lonely-if": 0,
    "no-redeclare": 0,
    "no-shadow": 0,
    "no-var": 0,
    "prefer-arrow-callback": 0,
    "prefer-reflect": 0,
    "prefer-template": 0
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
