:root {
  --color-primary: #1876db;
  --color-primary-rgb: 24, 120, 224;
  --color-primary-xd: #0154ac;
  --color-primary-d: #0c68c0;
  --color-primary-l: #0099d7;
  --color-primary-xl: #7cc6dd;
  --color-lemon: #ffda74;
  --color-lemon-xd: #ed9107;
  --color-lemon-d: #fbc150;
  --color-lemon-l: #f6e2aa;
  --color-lemon-xl: #fbf3dc;
  --color-turquoise: #57A1B9;
  --color-turquoise-xd: #1F667D;
  --color-turquoise-d: #4890A8;
  --color-turquoise-l: #BBDCEA;
  --color-turquoise-xl: #DBF0F9;
  --color-flint: #7798C8;
  --color-flint-xd: #355D97;
  --color-flint-d: #5279B4;
  --color-flint-l: #BFD6F2;
  --color-flint-xl: #DCE7FC;
  --color-mint: #6CC399;
  --color-mint-xd:#3A7659;
  --color-mint-d: #5AAD85;
  --color-mint-l: #A3E4C5;
  --color-mint-xl: #E2F7ED;
  --color-coral: #FF9E98;
  --color-coral-xd: #943832;
  --color-coral-d: #DB807A;
  --color-coral-l: #FFC3BF;
  --color-coral-xl: #F8E7E6;
  --color-gray-xd-shadow: #27333C;
  --color-gray-d-midnight: #324350;
  --color-gray-shadow: #416581;
  --color-gray-l-steel: #5F83A5;
  --color-gray-xl-dove: #C5D6E6;
  --color-white-fog: #EBF0F6;
  --color-white-mist: #EBF3F6;
  --color-white-non-white: #F8F9FA;
  --color-white: #FFFFFF;
  --color-feedback-success: #4BBC85;
  --color-feedback-warning: #F5AE5B;
  --color-feedback-error: #F76E40;
  --color-feedback-alert-bar: #FFE773;
}
