@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

:root {
  --color-primary-rgb: rgb(24, 120, 224);
  --color-primary-rgb-l: rgba(24, 120, 224, 0.4);
  --color-primary-rgb-xl: rgba(24, 120, 224, 0.2);
}

@layer base {
  html,
  body {
    font-size: 16px;
    @apply font-sans;
    @apply text-black;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  a {
    &:focus {
      @apply outline-none;
      @apply ring-2;
      @apply ring-primary-100;
      @apply border-transparent;
    }
  }
}
