@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';

:root {
  --color-primary-rgb: rgb(24, 120, 224);
  --color-primary-rgb-l: rgba(24, 120, 224, 0.4);
  --color-primary-rgb-xl: rgba(24, 120, 224, 0.2);
}

@layer base {
  html,
  body {
    font-size: 16px;
    @apply font-messina;
    @apply text-black;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  // TODO Move to `@layer components` when that works
  .tile-container {
    @apply rounded-2xl;
    @apply border-line-grey border;
    @apply bg-white;
    @apply transition-colors;
    box-shadow: none !important;

    &:focus-visible {
      @apply outline-1 outline-gray-800;
      @apply outline-offset-2;
      @apply outline-dashed;
    }

    &:not(.disabled).clickable,
    &:not(:disabled).clickable {
      &:hover,
      &:active {
        @apply cursor-pointer;
        @apply border-gray-800;
        box-shadow: 0px 2px 4px 0px #17161713 !important;
      }
    }

    &:disabled,
    &.disabled {
      @apply cursor-not-allowed;
    }
  }

  // TODO Move to `@layer components` when that works
  .uic-label {
    @apply type-small-500 text-gray-800;
    @apply mb-1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
